<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>医院住院管理系统</title>
    <script src="../../Source/packages/layui/layui.js"></script>
    <script src="../../Scripts/Project/Login/login.js"></script>
    <script src="../../Scripts/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="../../Source/packages/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../../Source/packages/css/login.css">
</head>
<body>
    <div id="login">
        <div style="text-align:center;">
            <img src="../../Source/images/login.jpg" style="width: 100px;height: 100px;" alt="图片加载失败啦..." title="Welcome~" />
        </div>
        <h1>医院住院管理系统</h1>
        <form method="post">
            <input type="text" required="required" autocomplete="off" placeholder="用户名" id="account" name="u">
            <input type="password" required="required" placeholder="密码" id="password" name="p">
            <button class="but" type="button" id="btn_login">登录</button>
        </form>
    </div>
</body>
</html>
